# deps & build
node_modules/
dist/

# secrets
.env
.env.local
apps/watch/src/pkjs/secrets.js
apps/server/.notion-tokens.json
apps/server/.google-tokens.json

# pebble build artifacts
apps/watch/build/
apps/watch/.lock-waf*
*.pbw

# misc
.DS_Store
*.log
